<html>
  <head>
    <title>CS602 HW2</title>
  </head>
  <body>
    <header>
      <img src='/images/bu-logo.gif' alt='logo' />
    </header>
    <h3>CS602 HW2 - Pedro Ramirez</h3>
    <a href='/cid'>Lookup By CourseId</a>
    |
    <a href='/cname'>Lookup By CourseName</a>
    |
    <a href='/random'>Get Random Course</a>
    <hr />

    {{{body}}}

  </body>
</html>
