<b>Coordinator Query: </b>
{{this.query}}
<p></p>
<ul>
  {{#if this.courses}}
    {{#each this.courses}}
      <li>
        <a href=''>{{this.courseId}}</a>
        -
        {{this.courseName}}
      </li>
    {{/each}}
  {{else}}
    No courses found.
  {{/if}}
</ul>
