<b>Course Description Query </b>
{{this.query}}
<p></p>

<div style="width:66%;"">
<b>Course: {{this.description.course}} - {{this.description.title}}</b> 
<p></p>


  {{this.description.content}}
</div>