<b>Course Id Query: </b>
{{this.query}}
<p></p>
<ul>

  {{#if this.courses}}
    {{#each this.courses}}
      <li>
        </b>{{this.courseId}} - {{this.courseName}}<br>
      </li>
    {{/each}}
  {{else}}
    No courses found.
  {{/if}}

</ul>
