<b>Course Id Query: {{query}} </b>
<ul>
  {{#if courses.length}}
    {{#each courses}}
      <li>{{this.course_id}} -{{this.course_name}}</li>
    {{/each}}
  {{else}}
    <b>No results found!</b>
  {{/if}}
</ul>

<a href='/cid'> <button>clear</button></a>
