<b>Lookup By Course Name</b>
<p></p>
<form method="POST" action="/cname">
	
	<label for="id">Course Name:</label>
	<input  type="text" name="name" size="30">
	<p></p>
  	<input type="submit"/>
   
</form>

