<h3>Home Page for CS602 Assignment6 - Pedro Ramirez</h3>
<h2>Welcome to CS602 Course Lookup</h2>
<p>This application allows you to look up course information.</p>

{{#if user}}
  <p>Use the navigation links above to explore.</p>
{{else}}
  <p>Please <a href='/login'>log in</a> to access course lookup features.</p>
{{/if}}
